<!DOCTYPE HTML>
<html>
	<head>
		<title>About</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/about_assets/css/main.css" />
		<link href="/static/about_assets/css/fontawesome-all.min.css" rel="stylesheet">
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<noscript><link rel="stylesheet" href="/static/about_assets/css/noscript.css" /></noscript>
	</head>
	<body>


		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="{{ url_for('index')}}"><strong>Home</strong></a></li>
							<li>
								<a href="{{ url_for('about')}}"><strong>About</strong></a>
							</li>
							<li><a href="https://goo.gl/forms/Vo8YNKbk8uobEFRl1"><strong>Feedback</strong></a></li>
						</ul>
					</nav>
				<!-- Header -->
					<header id="header">
						<div class="logo">
							<!-- <i class="fas fa-fire"></i> -->
							<span class="icon fa-fire"></span>
								<!-- <img src="images/tinder.png"> -->
						</div>
						<div class="content">
							<div class="inner">
								<h1>Learn More</h1>
							</div>
						</div>
						<nav>
							<ul>
								<li><a href="#intro"><strong>Our Story</strong></a></li>
								<li><a href="#work"><strong>How it Works</strong></a></li>
								<li><a href="#about"><strong>Try Our Code</strong></a></li>
								<li><a href="#contact"><strong>Coming Soon</strong></a></li>
								<!--<li><a href="#elements">Elements</a></li>-->
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">

						<!-- Intro -->
							<article id="intro">
								<h2 class="major">Our Story</h2>
								<img src="/static/images/cutecumber.jpg" alt="" />
								<p>This Pick-up Line Generator was developed at Olin College of Engineering as a cumulative project for the spring 2018 class, Software Design. After learning how to utilize software and computation in Python during this introductory class, we wanted to further explore software development focusing on big data and algorithms that adapt with feedback.
								</p>
								<p>We thought a good way to explore our interest in big data would be to create a large database of pickup lines scraped from the web. As any pick-up line enthusiast will tell you, the best lines are personalized to the individual’s interests or name. Therefore, we organized our database by relevant pick-up lines for a given category or name. Of course, we wouldn’t be satisfied with the quality of just any relevant pick-up line, so we integrated user feedback as a means of distinguishing good from bad pick-up lines. By adjusting the pick-up lines based on user feedback, we were also able to explore adaptive algorithms.</p>
							</article>

						<!-- Work -->
							<article id="work">
								<h2 class="major">How it Works</h2>
								<img src="/static/images/architecture1.jpg" alt="" />
							</article>

						<!-- About -->
							<article id="about">
								<h2 class="major">Try Our Code</h2>
								<img src="/static/images/codepul.jpg" alt="" />
								<h1 id="pick-up-line-bot">Pick-up Line Bot</h1>
								<p>Pick-up Line Bot is a pick-up line generator that provides individualized pick-up lines based on category or name based inputs.</p>
								<h2 id="using-pick-up-line-bot">Using Pick-Up Line Bot</h2>
								<p>You can interact with Pick-Up Line Bot directly on Tinder as soon as we get it up and running again or on our website <a href="tinyurl.com/tinderbot2">here</a>.</p>
								<h2 id="downloading-and-running-the-code">Downloading and Running the Code</h2>
								<p>In order to run the Pick-Up Line Bot on your own computer, you must first install the following dependencies. * Datamuse * Praw * PyEnchant * BeautifulSoup4 * RoboBrowser * Pynder You can install them by typing the following into your terminal if running Linux. Note that you will need to have installed pip for this to work effectively. Here’s a <a href="https://www.tecmint.com/install-pip-in-linux/">link</a> that will help with that.</p>
								<pre><code>$ pip3 install python-datamuse
$ pip install praw
$ pip install pyenchant
$ pip install beautifulsoup4
$ pip install robobrowser
$ pip install git+https://github.com/charliewolf/pynder.git</code></pre>
								<p>Additionally, you should clone our git repository.</p>
								<pre><code>git clone https://github.com/EverardoG/TindEEEEr</code></pre>
								<h2 id="getting-started">Getting Started</h2>
								<p>Once you’ve cloned our repository, navigate to the directory and run categories_mvp.py to run the categories based pick-up line search. To interact with the name based pick-up lines, run names_functions.py with a name as an argument in string format. You can run these by typing:</p>
								<pre><code>$ python categories_mvp.py</code></pre>
								<p>for the categories and</p>
								<pre><code>$ python names_functions.py</code></pre>
								<p>for the names.</p>
								<h2 id="description">Description</h2>
								<p>To learn more about our Bot and it’s makers, read our Implementation and About Us pages at <a href="https://elizabethtawes.github.io/Tinderbot_site/about.html#work">here</a> and <a href="https://elizabethtawes.github.io/Tinderbot_site/about.html#intro">here</a>.</p>
								<h2 id="attributions">Attributions</h2>
								<p>We couldn’t make the Pick-up Line Bot on our own! We also had help from Paul Ruvolo, the SoftDes Ninjas, the creators of the various libraries described in the dependencies as well as the many people who have contributed pick-up lines via training or internet posts.</p>
								<h2 id="license">License</h2>
								<p>Pick-up Line Bot does not yet have a defined license.</p>
							</article>

						<!-- Contact -->
							<article id="contact">
								<h2 class="major">Coming Soon</h2>
								<img src="/static/images/chemistry.jpg" alt="" />
								<h3>Keyword Searches that create new categories</h3>
								<img src="/static/images/categoryex.png">
								<p><em>A snippet from a command terminal near you.</em></p>
								<p>The keyword "biochem" matched with one of the existing categories in our database to give us this relevant pick-up line! The user can then give feedback to change the frequency of how often this pick-up line is returned in this category search--in this case, it was rated 'good', so its probability has been bumped up. This keyword functionality will be up and running as soon as we integrate it into the Tinder API!</p>
								<img src="/static/images/olin.png">
								<p>When there is no existing category for a keyword, our code looks for a similar enough existing category to pull from. In this example, the keyword 'olin' led to the category 'Olin College'.</p>
								<img src="/static/images/penguin.png">
								<p>If a related category doesn't exist, the code uses related and 'trigger' words to find pick-up lines in the database that are similar to the keyword, then creates and stores a new category specifically for that keyword. Here, the user asked for 'penguin', and created a new category called 'penguin' in our database, starting with the given pick-up line.</p>
								<h3>Web App Functionality</h3>
								<div><img src="/static/images/screenshot.png"></div>
								<p>We are working on connecting the form in our landing page to the code that makes our Tinderbot functional, through the python framework Flask and cloud-based hosting with Heroku-app. This way, people without a Tinder can still access the pick-up line generator and contribute to the training data!</p>
								<p>#pickuplinesforthepeople</p>
								<!-- <form method="post" action="#">
									<div class="field half first">
										<label for="name">Name</label>
										<input type="text" name="name" id="name" />
									</div>
									<div class="field half">
										<label for="email">Email</label>
										<input type="text" name="email" id="email" />
									</div>
									<div class="field">
										<label for="message">Message (This form does not work yet!)</label>
										<textarea name="message" id="message" rows="4"></textarea>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send Message" class="special" /></li>
										<li><input type="reset" value="Reset" /></li>
									</ul>
								</form>
								<ul class="icons">
								  <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="https://github.com/EverardoG/TindEEEEr" class="icon fa-github"><span class="label">GitHub</span></a></li>
								</ul> -->
							</article>

						<!-- Elements -->
							<article id="elements">
								<h2 class="major">Elements</h2>

								<section>
									<h3 class="major">Text</h3>
									<p>This is <b>bold</b> and this is <strong>strong</strong>. This is <i>italic</i> and this is <em>emphasized</em>.
									This is <sup>superscript</sup> text and this is <sub>subscript</sub> text.
									This is <u>underlined</u> and this is code: <code>for (;;) { ... }</code>. Finally, <a href="#">this is a link</a>.</p>
									<hr />
									<h2>Heading Level 2</h2>
									<h3>Heading Level 3</h3>
									<h4>Heading Level 4</h4>
									<h5>Heading Level 5</h5>
									<h6>Heading Level 6</h6>
									<hr />
									<h4>Blockquote</h4>
									<blockquote>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan faucibus. Vestibulum ante ipsum primis in faucibus lorem ipsum dolor sit amet nullam adipiscing eu felis.</blockquote>
									<h4>Preformatted</h4>
									<pre><code>i = 0;

while (!deck.isInOrder()) {
    print 'Iteration ' + i;
    deck.shuffle();
    i++;
}

print 'It took ' + i + ' iterations to sort the deck.';</code></pre>
								</section>

								<section>
									<h3 class="major">Lists</h3>

									<h4>Unordered</h4>
									<ul>
										<li>Dolor pulvinar etiam.</li>
										<li>Sagittis adipiscing.</li>
										<li>Felis enim feugiat.</li>
									</ul>

									<h4>Alternate</h4>
									<ul class="alt">
										<li>Dolor pulvinar etiam.</li>
										<li>Sagittis adipiscing.</li>
										<li>Felis enim feugiat.</li>
									</ul>

									<h4>Ordered</h4>
									<ol>
										<li>Dolor pulvinar etiam.</li>
										<li>Etiam vel felis viverra.</li>
										<li>Felis enim feugiat.</li>
										<li>Dolor pulvinar etiam.</li>
										<li>Etiam vel felis lorem.</li>
										<li>Felis enim et feugiat.</li>
									</ol>
									<h4>Icons</h4>
									<ul class="icons">
										<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
									</ul>

									<h4>Actions</h4>
									<ul class="actions">
										<li><a href="#" class="button special">Default</a></li>
										<li><a href="#" class="button">Default</a></li>
									</ul>
									<ul class="actions vertical">
										<li><a href="#" class="button special">Default</a></li>
										<li><a href="#" class="button">Default</a></li>
									</ul>
								</section>

								<section>
									<h3 class="major">Table</h3>
									<h4>Default</h4>
									<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>Name</th>
													<th>Description</th>
													<th>Price</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Item One</td>
													<td>Ante turpis integer aliquet porttitor.</td>
													<td>29.99</td>
												</tr>
												<tr>
													<td>Item Two</td>
													<td>Vis ac commodo adipiscing arcu aliquet.</td>
													<td>19.99</td>
												</tr>
												<tr>
													<td>Item Three</td>
													<td> Morbi faucibus arcu accumsan lorem.</td>
													<td>29.99</td>
												</tr>
												<tr>
													<td>Item Four</td>
													<td>Vitae integer tempus condimentum.</td>
													<td>19.99</td>
												</tr>
												<tr>
													<td>Item Five</td>
													<td>Ante turpis integer aliquet porttitor.</td>
													<td>29.99</td>
												</tr>
											</tbody>
											<tfoot>
												<tr>
													<td colspan="2"></td>
													<td>100.00</td>
												</tr>
											</tfoot>
										</table>
									</div>

									<h4>Alternate</h4>
									<div class="table-wrapper">
										<table class="alt">
											<thead>
												<tr>
													<th>Name</th>
													<th>Description</th>
													<th>Price</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Item One</td>
													<td>Ante turpis integer aliquet porttitor.</td>
													<td>29.99</td>
												</tr>
												<tr>
													<td>Item Two</td>
													<td>Vis ac commodo adipiscing arcu aliquet.</td>
													<td>19.99</td>
												</tr>
												<tr>
													<td>Item Three</td>
													<td> Morbi faucibus arcu accumsan lorem.</td>
													<td>29.99</td>
												</tr>
												<tr>
													<td>Item Four</td>
													<td>Vitae integer tempus condimentum.</td>
													<td>19.99</td>
												</tr>
												<tr>
													<td>Item Five</td>
													<td>Ante turpis integer aliquet porttitor.</td>
													<td>29.99</td>
												</tr>
											</tbody>
											<tfoot>
												<tr>
													<td colspan="2"></td>
													<td>100.00</td>
												</tr>
											</tfoot>
										</table>
									</div>
								</section>

								<section>
									<h3 class="major">Buttons</h3>
									<ul class="actions">
										<li><a href="#" class="button special">Special</a></li>
										<li><a href="#" class="button">Default</a></li>
									</ul>
									<ul class="actions">
										<li><a href="#" class="button">Default</a></li>
										<li><a href="#" class="button small">Small</a></li>
									</ul>
									<ul class="actions">
										<li><a href="#" class="button special icon fa-download">Icon</a></li>
										<li><a href="#" class="button icon fa-download">Icon</a></li>
									</ul>
									<ul class="actions">
										<li><span class="button special disabled">Disabled</span></li>
										<li><span class="button disabled">Disabled</span></li>
									</ul>
								</section>

								<section>
									<h3 class="major">Form</h3>
									<form method="post" action="#">
										<div class="field half first">
											<label for="demo-name">Name</label>
											<input type="text" name="demo-name" id="demo-name" value="" placeholder="Jane Doe" />
										</div>
										<div class="field half">
											<label for="demo-email">Email</label>
											<input type="email" name="demo-email" id="demo-email" value="" placeholder="jane@untitled.tld" />
										</div>
										<div class="field">
											<label for="demo-category">Category</label>
											<div class="select-wrapper">
												<select name="demo-category" id="demo-category">
													<option value="">-</option>
													<option value="1">Manufacturing</option>
													<option value="1">Shipping</option>
													<option value="1">Administration</option>
													<option value="1">Human Resources</option>
												</select>
											</div>
										</div>
										<div class="field half first">
											<input type="radio" id="demo-priority-low" name="demo-priority" checked>
											<label for="demo-priority-low">Low</label>
										</div>
										<div class="field half">
											<input type="radio" id="demo-priority-high" name="demo-priority">
											<label for="demo-priority-high">High</label>
										</div>
										<div class="field half first">
											<input type="checkbox" id="demo-copy" name="demo-copy">
											<label for="demo-copy">Email me a copy</label>
										</div>
										<div class="field half">
											<input type="checkbox" id="demo-human" name="demo-human" checked>
											<label for="demo-human">Not a robot</label>
										</div>
										<div class="field">
											<label for="demo-message">Message</label>
											<textarea name="demo-message" id="demo-message" placeholder="Enter your message" rows="6"></textarea>
										</div>
										<ul class="actions">
											<li><input type="submit" value="Send Message" class="special" /></li>
											<li><input type="reset" value="Reset" /></li>
										</ul>
									</form>
								</section>

							</article>

					</div>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; TinderBot. Design Template: <a href="https://html5up.net">HTML5 UP</a>. <a href="http://www.wallpapers4u.org/smoke-fire-bright/">Background Image.</a></p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="/static/about_assets/js/jquery.min.js"></script>
			<script src="/static/about_assets/js/skel.min.js"></script>
			<script src="/static/about_assets/js/util.js"></script>
			<script src="/static/about_assets/js/main.js"></script>

	</body>
</html>
